<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="circuit-sdk"
        version="1.2.5603">

  <name>circuit-sdk</name>

  <description>
    This plugin allows you to use the Circuit SDK in Ionic/Cordova applications.
  </description>

  <author>Unify Inc.</author>

  <license>Apache-2.0</license>

  <keywords>Circuit, SDK</keywords>

  <repo>https://github.com/amiltonjr/circuit-sdk.git</repo>

  <issue>https://github.com/amiltonjr/circuit-sdk/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
    <engine name="node" version=">=4.5.0"/>
  </engines>

  <js-module src="circuit.js" name="circuit">
    <clobbers target="window.plugins.circuit-sdk" />
  </js-module>

  <js-module src="circuit-node.js" name="circuit-node">
    <clobbers target="window.plugins.circuit-sdk" />
  </js-module>

  <js-module src="circuit.min.js" name="circuit.min">
    <clobbers target="window.plugins.circuit-sdk" />
  </js-module>

  <js-module src="FileUpload.js" name="FileUpload">
    <clobbers target="window.plugins.circuit-sdk" />
  </js-module>

  <js-module src="WebSocket.js" name="WebSocket">
    <clobbers target="window.plugins.circuit-sdk" />
  </js-module>

  <js-module src="XMLHttpRequest.js" name="XMLHttpRequest">
    <clobbers target="window.plugins.circuit-sdk" />
  </js-module>

</plugin>
